.char-delete {
    /* border: none;
    padding: 1rem;
    border-radius: 5px;
    color: firebrick;
    font-size: large;
    font-weight: 800;
    background-color: wheat;
    box-shadow: 0px 6px 0px 0px sienna;
    position:relative;
    margin: .5rem; */
    position: absolute;
}

.char-delete:active{
   top: 6px;
   box-shadow: none;
}

.char-delete:focus{
  outline: none;
}

.char-submit {
    padding: 20px;
   
      background: sienna;
    color: white;
      font-weight: bolder;
      font-size: large;
      width: fit-content;
      box-shadow: 1px 1px 1px 1px black;
      border-style: none;
      border-radius: 5px;
  }
  
  .char-submit:hover {
    cursor: pointer;
       background: rgb(184, 77, 28);
      color: white;
    transition: all .2s;
  }
  
  .char-submit:focus{
    outline: none;
  }
  
  .char-submit:active {
    top: 5px;
    border: none;
  }
  

  .confirm-btn {
    background: sienna;
    color: gold;
    border: none;
    padding: 1rem;
    margin: .5rem;
    font-size: larger;
    border-radius: 4px;
    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: 1px 1px 1px 1px black;
}

.confirm-btn:hover {
  cursor: pointer;
  background: #723214;
  color: #fed254;
  transition: all .2s;
}

.home-link {
    text-decoration: none;
    position: relative;
  }
  
  
  .link-button {
      border-radius: 3px;
      padding: 10px;
      border: 1px solid black;
      text-decoration: none;
      text-align: center;
      color: black;
      font-weight: bolder;
      background: gold;
  }
  
  .link-button:hover{
    background: rgb(252, 230, 148);
    cursor: pointer;
  }
  
  .link-button:active {
    background: black;
    color: white;
  }
