.chars-spread {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* background: burlywood; */
    padding: 1rem;
    width: 100%;
  }