.char-snippet {
    border: 2px solid black;
    box-shadow: 2px 2px;
    border-radius: 4px;
    margin: 5px;
    padding: 10px;
    background: ivory;
    display: grid;
  }
  
  .char-snippet-name {
    font-weight: bold;
    font-size: 18px;
  }
  
  .char-snippet-class {
    font-style: italic;
  }
  