.stud-top-left {
    visibility: hidden;
    &.cool {
    border-radius: 100%;
    border: 1px solid black;
    position: absolute;
    padding: .25rem;
    top: 0.4rem;
    border: none;
    box-shadow: 1px 1px 1px black, -1px 0px 2px 1px black;
    }
  
  }
  
  .stud-top-right {
    visibility: hidden;

      &.cool{
        border-radius: 100%;
        border: 1px solid black;
        position: absolute;
        padding: .25rem;
        top: 0.4rem;
        left: 17rem;
        border: none;
        box-shadow: 1px 1px 1px black, -1px 0px 2px 1px black;
    }
  }
  
  .stud-bottom-left {
      visibility: hidden;
    &.cool {    
    border-radius: 100%;
    border: 1px solid black;
    position: absolute;
    padding: .25rem;
    bottom: 0.4rem;
    border: none;
    box-shadow: 1px 1px 1px black, -1px 0px 2px 1px black;}
  }
  
  .stud-bottom-right {
    visibility: hidden;
      &.cool {
        border-radius: 100%;
        border: 1px solid black;
        position: absolute;
        padding: .25rem;
        bottom: 0.4rem;
        left: 17rem;
        border: none;
        box-shadow: 1px 1px 1px black, -1px 0px 2px 1px black;
      }

  }
  