.chars-spread {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: orange;
}

.char-snippet {
  border: 1px solid black;
  box-shadow: 2px 2px;
  border-radius: 4px;
  margin: 5px;
  padding: 10px;
  background: ivory;
  
}

.header {
  height: 50px;
  position: fixed;
  width: 100%;
}

.char-creation-page{

}

.char-creation-pane {

}

.greenie{
   color: forestgreen;
}

.stats-tally {
  display: flex;
  flex-direction: column;
}