.ancestry-choice{
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.be-capitalized {
  text-transform: capitalize;
}

.chars-spread {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: orange;
}

.char-snippet {
  border: 1px solid black;
  box-shadow: 2px 2px;
  border-radius: 4px;
  margin: 5px;
  padding: 10px;
  background: ivory;
  
}

.char-bio{
  border: none;
  background:rgb(255, 255, 255, .5)
}


.char-submit {
  padding: 20px;
    width: 100px;
    height: 75px;
    border-bottom: 5px solid;
    position: relative;
    top: 0;
}

.char-submit:hover {
  cursor: pointer;
}

.char-submit:focus{
  outline: none;
}

.char-submit:active {
  top: 5px;
  border: none;
}

.class-selector {
  /* margin: 5px; */
  /* padding: 10px; */
  border: 4px solid transparent;
}

.class-selector:hover {
   cursor: pointer;
}

.class-selected {
  /* margin: 5px; */
  /* padding: 10px; */
  border: 4px solid black;
}

.class-selected:hover {
   cursor: pointer;
}

.class-list{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.freebie-choices {
  display: flex;
  flex-direction: column;
}

.freebie-selector {
  font-weight: bold;
  color: black;
  background: aliceblue;
}

.header {
  height: 50px;
  position: fixed;
  width: 100%;
}

.hidden{
  visibility: hidden;
}

.char-creation-pane{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  box-sizing: border-box;
  border: 1px solid;
    height: 500px;
    width: 500px;
    position: relative;
    left: 25%;
    padding: 20px;
    background-image: url("../../images/paperbg.jpg");
    background-size: cover;
    box-shadow: 3px 3px 3px;


}

.char-form {
   display: flex;
   flex-direction: column;
   padding: 10px;
   justify-content: space-between;
   align-items: center;
   margin: 5px;
   height: 80%; 
   width: 100%;
   height: auto;
}


textarea {
  margin: 10px;
  width: 80%;
  height: 109px;
  font-size: 16px;
  padding: 5px;
  font-family: cursive;
}

.char-name {
  font-size: 24px;
  font-family: cursive;
  line-height: 24px;
  padding: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  background:rgb(255, 255, 255, .5)
}

input:focus{
  outline: none;
}

textarea:focus{
  outline:none;
}



.personal-input {
  font-weight: 500;
  font-size: 24px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;

}

.label-content{
  margin-right: 10px;
}

.greenie{
   color: forestgreen;
}



.submit{
  width: 120px;
  padding: 20px;
  color: white;
  background: blue;
  font-size: 24px;
  border-radius: 4px;
}

.submit:hover{
  background: #748AED;
  color: lightcyan;
  transition: all .2s;
  cursor: pointer;
}

.submit:focus{
  background: black;
}






/* Tallies not being used anymore, stored here in case i bring them back */
.ancestry-tally {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 5px;
  font-weight: 500;
  box-shadow: 2px 2px black;
  border-radius: 4px;
  background-image: url("../../images/paperbg.jpg");
  width: 300px;
}


.background-tally {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 5px;
  font-weight: 500;
  box-shadow: 2px 2px black;
  border-radius: 4px;
  background-image: url("../../images/paperbg.jpg");
  width: 300px;
}

.personal-tally{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 5px;
  font-weight: 500;
  box-shadow: 2px 2px black;
  border-radius: 4px;
  background-image: url("../../images/paperbg.jpg");
  width: 300px;
}

.tally-pages {
  display: flex;
  flex-direction: row;
  height: 500px;
}

.stats-tally {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 5px;
  font-weight: 500;
  box-shadow: 2px 2px black;
  border-radius: 4px;
  background-image: url("../../images/paperbg.jpg");
  width: 300px;
}
