.ancestry-choice{
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.ancestry-info {
    margin: 5px;
    padding: 5px;
    background: wheat;
    box-shadow: 2px 2px 1px;
    border-radius: 4px;
}

.background-description {
      margin: 5px;
    padding: 5px;
    background: wheat;
    box-shadow: 2px 2px 1px;
    border-radius: 4px;
}

.be-capitalized {
  text-transform: capitalize;
  margin-left: 3px;
}

.bg-selector {
    background: wheat;
    border: 1px solid black;
    box-shadow: 2px 2px 2px;
    padding: 4px;
    margin: 5px;
    font-weight: bold;
    text-transform: uppercase;
    width: fit-content;
}

.chars-spread {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: burlywood;
  padding: 40px;
  width: 100%;
}

.char-snippet {
  border: 1px solid black;
  box-shadow: 2px 2px;
  border-radius: 4px;
  margin: 5px;
  padding: 10px;
  background: ivory;
  display: grid;
  
}

.char-bio{
  border: none;
  background:rgb(255, 255, 255, .5);
  box-shadow: 2px 2px 1px;
}


.char-submit {
  padding: 20px;
    width: 100px;
    height: 75px;
    border-bottom: 5px solid;
    position: relative;
    top: 0;
}

.char-submit:hover {
  cursor: pointer;
}

.char-submit:focus{
  outline: none;
}

.char-submit:active {
  top: 5px;
  border: none;
}

.class-description {
       margin: 5px;
    padding: 10px;
    background: wheat;
    box-shadow: 2px 2px 1px;
    border-radius: 4px;
      text-align: center;
}

.class-freeb {
      margin: 5px;
    padding: 10px;
    background: wheat;
    box-shadow: 2px 2px 1px;
    border-radius: 4px;
    text-align: center;
}

.class-selector {
  /* margin: 5px; */
  /* padding: 10px; */
  border: 4px solid transparent;
  padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.class-selector:hover {
   cursor: pointer;
}

.class-selected {
  /* margin: 5px; */
  /* padding: 10px; */
  border: 4px solid black;
  padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.class-selected:hover {
   cursor: pointer;
}

.class-list{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
      padding: 40px;
    background: wheat;
    box-shadow: 1px 1px 2px;
    border-radius: 3px;
    margin: 5px;
}

.freebie-choices {
  display: flex;
  flex-direction: column;
}

.freebie-selector {
    background: wheat;
    border: 1px solid black;
    box-shadow: 2px 2px 2px;
    padding: 4px;
    margin: 5px;
    font-weight: bold;
    text-transform: uppercase;
    width: fit-content;
}

.header {
  height: 50px;
  position: fixed;
  width: 100%;
}

.hidden{
  visibility: hidden;
}

.char-creation-pane{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  box-sizing: border-box;
  border: 1px solid;
    width: 500px;
    position: relative;
    left: 25%;
    padding: 20px;
    background: darkorange;
    background-size: cover;
    box-shadow: 3px 3px 3px;


}

.link-button {
    border-radius: 3px;
    padding: 10px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    background: cornsilk;
}

.link-button:hover{
  background: rgb(252, 230, 148);
  cursor: pointer;
}

.link-button:active {
  background: black;
  color: white;
}

.index-page {
  display: flex;
  flex-direction:column;
  background: burlywood;
}
.char-form {
   display: flex;
   flex-direction: column;
   padding: 10px;
   justify-content: space-between;
   align-items: center;
   margin: 5px;
   height: 80%; 
   width: 100%;
   height: auto;
}

.char-show {
  display: flex;
  flex-direction: column;
  background: burlywood;
  padding: 20px;
}

.char-show-top {
  display:flex;
  flex-direction: row;
  align-items: center;
}

.char-vital {
  display: flex;
  flex-direction: row;
  margin:5px;
}

.char-vitals {
  display: flex;
  flex-direction: column;
      width: auto;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
}

.char-image {
  width: 500px;
}

.char-statline {
    width: auto;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
}

.select-wrapper {
  display: flex;
  justify-content: center;
}

textarea {
  margin: 10px;
  width: 80%;
  height: 109px;
  font-size: 16px;
  padding: 5px;
  font-family: cursive;
}

.char-name {
  font-size: 24px;
  font-family: cursive;
  line-height: 24px;
  padding: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  background:rgb(255, 255, 255, .5);
  box-shadow: 2px 2px 1px;
}

input:focus{
  outline: none;
}

textarea:focus{
  outline:none;
}



.personal-input {
  font-weight: 500;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: blue;
  text-shadow: 2px 2px 0px skyblue;
  font-weight: bolder;
  font-family: fantasy;
  font-size: 22px;
}

.label-content{
  margin-right: 10px;
  margin-right: 10px;
  color: blue;
  text-shadow: 2px 2px 0px skyblue;
  font-weight: bolder;
  font-family: fantasy;
  font-size: 22px;
}

.greenie{
   color: forestgreen;
}

.pane-title {
    color: blue;
    text-shadow: 1px 1px 1px aliceblue;
}

label {
  margin-right: 10px;
  margin-right: 10px;
  color: blue;
  text-shadow: 1px 1px 1px aliceblue;
  font-weight: bolder;
  font-family: fantasy;
  font-size: 22px;
}

.freebie-checkboxes {
  display: flex;
  flex-direction: column;
}


.submit{
  width: 120px;
  padding: 20px;
  color: white;
  background: blue;
  font-size: 24px;
  border-radius: 4px;
}

.submit:hover{
  background: #748AED;
  color: lightcyan;
  transition: all .2s;
  cursor: pointer;
}

.submit:focus{
  background: black;
}






/* Tallies not being used anymore, stored here in case i bring them back */
.ancestry-tally {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 5px;
  font-weight: 500;
  box-shadow: 2px 2px black;
  border-radius: 4px;
  background-image: url("../../images/paperbg.jpg");
  width: 300px;
}


.background-tally {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 5px;
  font-weight: 500;
  box-shadow: 2px 2px black;
  border-radius: 4px;
  background-image: url("../../images/paperbg.jpg");
  width: 300px;
}

.personal-tally{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 5px;
  font-weight: 500;
  box-shadow: 2px 2px black;
  border-radius: 4px;
  background-image: url("../../images/paperbg.jpg");
  width: 300px;
}

.tally-pages {
  display: flex;
  flex-direction: row;
  height: 500px;
}

.stats-tally {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 5px;
  font-weight: 500;
  box-shadow: 2px 2px black;
  border-radius: 4px;
  background-image: url("../../images/paperbg.jpg");
  width: 300px;
}
